[2018-07-13 05:47] ffMathy opened #1 "Set properties not implemented"
Still need to implement set properties.

[2018-07-15 17:13] ffMathy commented on #1
Fixed.

[2018-07-15 17:13] #1 closed

[2018-08-08 19:06] ak99372 opened #5 "A rest parameter must be of an array type & Nested objects"
Nice package, I ran into few issues trying to use it:

#1. Compiling my code with [tsc] I get a lot of typescript errors....

node_modules/@fluffy-spoon/substitute/dist/src/Transformations.d.ts(19,98): error TS2370: A rest parameter must be of an array type.
node_modules/@fluffy-spoon/substitute/dist/src/Transformations.d.ts(19,148): error TS2344: Type 'F' does not satisfy the constraint 'any[]'.

[2018-08-09 18:13] ffMathy commented on #5
Are you using TypeScript 3.0?

[2018-08-09 18:47] ak99372 commented on #5
tsc 2.9.2

[2018-08-24 06:48] Atagi opened #6 "How to mock received function"
As `received` function is part of `ObjectSubstitute` type how can I mock `received` function from my class?

[2018-08-24 07:01] ffMathy commented on #6
You can't at the moment, but I'll work on an alternative syntax that will allow it.

It'll be ready in the weekend.

Thank you for your report.

For now as a workaround until then, rename your method to something else.

[2018-08-24 07:08] ffMathy commented on #6
Actually, what happens if you try to do `fake.received().received(my-args-here);`?

[2018-08-25 22:07] ffMathy commented on #6
This has now been resolved! A new version has been deployed, and documentation for how to get around it has been added to the repository documentation.

[code]

[2018-08-25 22:07] #6 closed

[2018-08-25 22:08] ffMathy commented on #6
Also note that there is full strong-typing all the way!

[2018-09-26 10:22] luckymark opened #7 "Promise.resolve(aMockObject) return a Promise with pending status"
I do something like this:
[code]
I found Promise.resolve(mockFooA) will return a Promise with "pending" status.
Expected: "resolved"

when I use a Proxy instead of mockFooA like this:
[code]
it return a Promise with "resolved" status as expected

thx!

[2018-09-26 11:15] ffMathy commented on #7
Ah fine report indeed!

It seems the proxy is forwarding the promise "then" method and makes the browser believe the substitute itself is a proxy.

Will find a workaround soon.

[2018-09-27 01:44] joshribakoff commented on #7
Browser? Wouldn't this lib be exclusively for node env (jest, etc)? I have a similar issue where I want to spy on a method. Code coverage shows I called the method, but this lib sometimes says the method was not called. In some cases commenting out a previous `await` "fixes" the issue, still trying to narrow it down.

[2018-09-27 03:10] joshribakoff commented on #7
My previous example may have been to be expected, but I think I have a valid one. Bottom line examples in the docs of how to do async mocking would be useful, 99% of the time im mocking its in an integration test that uses some kind of async logic like http/database, so working examples of promises would be invaluable. Sorry for comment spam, its been a long day.

[code]

gives

[code]

[2018-09-27 04:11] joshribakoff commented on #7
Here is a valid workaround:

[code]

[2018-09-27 08:05] ffMathy commented on #7
I meant node, sorry. I'll take a look at it soon, I know what the cause is, and it is definitely fixable.

[2018-09-27 15:00] ffMathy commented on #7
Hmmmm for the original issue, I made a test here which proves it does not fail: https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/commit/02245707e70b9d46ac3e9e6bb32c0c9b85795ccb

For the new issue, please report that separately.

[2018-09-27 15:00] #7 closed

[2018-09-28 00:36] luckymark opened #8 "mock with a private field failed"
when I do this:
[code]
I get ：error TS2322: Type 'ObjectSubstitute<Pick<Foo, never>, Foo>' is not assignable to type 'Foo'.
  Property 'field' is missing in type 'ObjectSubstitute<Pick<Foo, never>, Foo>'.

when I change "private" to "public", its ok!

[2018-09-28 01:09] luckymark commented on #7
@ffMathy your test is different with this issue, Promise.resolve a nonmock object is ok,but resolve a mockObject it failed.
Could you check it again ? thx!

[2018-09-28 01:43] joshribakoff opened #9 "promise mocking doesnt work correctly"
Heres another issue as requested in #7 🤷‍♂️

[code]

[code]

Expected result: 1st test always passing
Actual result: tests are somehow chained

As mentioned in the other issue, sometimes it says the mock was called 2x (once without args and once with args), when code coverage tools show the code path was hit once. There is state leaking. I can come up with numerous scenarios where it does the wron

[2018-09-28 08:49] ffMathy commented on #9
Seems like it is working now with the latest update. See latest commit.

Might take an hour or so before it is available on NPM.

Thanks for the report!

[2018-09-28 09:11] ffMathy commented on #8
What is the use case for this?

Why do you have a class only with private fields that you want to mock?

You should only test publically exposed functionality.

[2018-09-29 00:51] joshribakoff commented on #9
My test case still fails after pulling latest master. This is not fixed...

[2018-09-29 00:52] joshribakoff commented on #9
<img width="1135" alt="screen shot 2018-09-28 at 5 52 25 pm" src="https://user-images.githubusercontent.com/4021306/46239007-4c992780-c347-11e8-8980-85370c3625a6.png">

[2018-09-29 00:57] joshribakoff commented on #8
He doesn't. He distilled the example, to simplify it for us.

Thats what hes trying to do...
[code]

The problem is he typed the mock to Foo, use the provided generic or let TS infer & it works fine:

[code]

User error.

[2018-09-29 01:48] ffMathy commented on #9
Can you make a PR for it, or perhaps add a test?

[2018-09-29 04:05] joshribakoff commented on #9
Absolutely. I can also work on a fix but it may take me a bit and no
promises :)

On Fri, Sep 28, 2018 at 6:48 PM Mathias Lykkegaard Lorenzen <
notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-09-29 04:46] luckymark commented on #8
@joshribakoff yes，I just simplify the test case！
In my use case, maybe I have a class :
[code]
the field needMock will be injected by some other code...

[2018-09-29 04:55] luckymark commented on #7
@ffMathy Now I found a temporal workround with Typemoq:
[code]

 I really really like your API , it's simple and elegant!  I love it!

[2018-09-29 05:12] joshribakoff commented on #7
My favorite part is squashing the useless pedantry of mocks vs stubs vs spies. This library is pure genius.

[2018-09-29 16:46] ffMathy commented on #7
Thank you so much guys! Please spread the word.

[2018-09-29 16:49] ffMathy commented on #8
Ah I see! Yes, that should be resolved as soon as possible!

I'll look into it sometime next week, as I am quite busy lately.

In the meanwhile, PRs are welcome!

[2018-10-15 16:58] dcavanagh opened #10 "Mocking a method with an array as an argument fails"
I am trying to mock a method that accepts an array as an argument. There is something wrong with the argument matching
[code]
Error Message:
Error: Expected one or more calls to the method add with arguments [1,2], but received none of such calls.
All calls received to method add:
-> 1 call with no arguments
-> 1 call with arguments [1,2]

[2018-10-24 06:55] ffMathy commented on #8
I made a branch now called `progress` where I am refactoring the whole thing into being based on a strategy pattern.

You can follow up on the progress there. However, I don't have much time lately. Feel free to fork that branch and continue.

[2018-10-24 06:56] ffMathy commented on #10
I made a branch now called `progress` where I am refactoring the whole thing into being based on a strategy pattern.

You can follow up on the progress there. However, I don't have much time lately. Feel free to fork that branch and continue.

[2018-10-26 00:29] troywweber7 opened #12 "ng test succeeds, but IDE complains"
I am using the PhpStorm IDE put out by IntelliJ and when I run `ng test`, compilation succeeds, but in the IDE I get the following:

![image](https://user-images.githubusercontent.com/4765979/47537555-3d8c9300-d87b-11e8-8c7e-5e46df18ca26.png)

This is an Angular 7 project (which uses TypeScript 3). Any ideas why this builds fine but fails the IDE inspection?

[2018-10-26 00:40] troywweber7 opened #13 "useful error messages"
The mocking works great, but within a framework like Jasmine, is there any way to get a useful error string? e.g. when `mock.received(1).someFunction(1,2)` is false, an error like "expected someFunction(1,2) to be called once, but it was called 3 times" would be nice. Is this feature already here and I'm just missing it?

[2018-10-26 00:50] troywweber7 commented on #13
I rescind. Slightly. Turns out it does throw a message.

`mock.received(1).someFunction(1,2)`

throws the following

[code]

It might be better if `[[object Object]]` was stringified or inspected to provide better information.

[2018-10-26 01:09] troywweber7 opened #14 "objects as arguments should allow for deep-matching"
It seems like I should be able to do something like

[code]

but instead I'm cheating by doing something like

[code]

[2018-10-26 06:07] ffMathy commented on #13
There is a dilemma though. We have to handle stringifying the parameters also if they contain circular references.

We would have to make a custom serialization function. Unless you have a way to do it?

Totally worth it though. Thanks for the feedback! Awaiting your reply.

[2018-10-26 06:08] ffMathy commented on #12
Does PhpStorm even support TypeScript 3? I know that ReSharper, a similar tool by JetBrains only supports 2.8 or something.

What happens if you open it in Visual Studio Code?

[2018-10-26 06:10] ffMathy commented on #14
Simply just remove the expect call. The received function will throw an exception if it didn't receive anything, so you don't need the expect and/or tobetruthy call.

If you still think it's worth it, I'll reconsider adding it. Awaiting your reply.

[2018-10-26 17:51] dcavanagh commented on #10
@ffMathy i'm not seeing the branch.  thanks

[2018-10-26 17:55] troywweber7 commented on #14
@ffMathy the main issue here is that there does not appear to be any deep matching available, or I just don't know the syntax for it.

Here is a side-by-side comparison of `typemoq` and `substitute` for the same exact test.

[code]

Substitute throws because it is not deep matching the objects.

Thrown message:
[code]

Usually languages have a "deep" keyword that allows the user to choose whether

[2018-10-26 18:04] troywweber7 commented on #13
I misspoke when I suggested stringifying. Just use `util.inspect(obj)`.

![image](https://user-images.githubusercontent.com/4765979/47584312-db7d6d80-d90e-11e8-9476-74f48ab04c5c.png)

[2018-10-26 18:06] troywweber7 commented on #12
@ffMathy I'm looking into it, but that strikes a bell and I think that might be the issue... They will pick up any TypeScript version installed but I suspect that inspections installed by a plugin are not yet at TypeScript 3...

[2018-10-26 18:06] #12 closed

[2018-10-27 14:09] ffMathy commented on #13
Ah very nice! I'll implement that soon. I'm not sure I will have much time over the next couple of days though, but if you are interested in making the change, it is currently located in `Utilities.ts`. Should be fairly simple.

[2018-10-27 14:09] ffMathy commented on #10
That's because it has been merged now.

[2018-10-27 14:11] ffMathy commented on #10
Wait, what you reported is actually not a bug! I see that now...

Arrays are by reference - not by value comparisons.

So instead of:

[code]

Do:

[code]

[2018-10-27 14:11] #10 closed

[2018-11-05 14:12] dcavanagh commented on #10
@ffMathy Thanks!

[2018-12-11 07:06] ffMathy commented on #9
Unfortunately I'm also incredibly busy. Can you at least show me your test then?

[2018-12-11 21:55] tasadar2 opened #15 "Unable to use a mocked property more than once"
### Scenario
Given a mock of an interface
[code]

I should be able to call a property multiple times
[code]

This results follow the same results a mocked method would result in.
But when attempting to arrange the second occurrence, it appears that the property is being called rather than setting the second `returns` occurrence.
[code]

### Full Test
[code]

[2018-12-11 22:12] ffMathy commented on #15
Thanks for this feedback - can you post a test that reproduces the issue?

[2018-12-13 19:13] tasadar2 commented on #15
The property returns the value once
[code]

[2018-12-31 16:52] sluebbert commented on #15
I came across this as well, but used the mimics method to get around it.

I just noticed this behavior is documented on the README though under the section on "Setting return types".  I don't think that aligns with the nsubstitute behavior though [documented here](http://nsubstitute.github.io/help/set-return-value/).

[code]
Output:
[code]
So you can see that the first console.log prints out the p

[2019-02-02 01:25] jasperblues opened #16 "Kudos"
Excellent library. If you like, please upvote here: https://stackoverflow.com/questions/54489075/mock-classes-and-interfaces-fully-or-partially-in-typescript/54489092#54489092

(also shared info here: https://twitter.com/doctor_cerulean/status/1091230596414623744)

[2019-02-02 01:25] #16 closed, assigned to nobody

[2019-02-02 02:05] jasperblues opened #17 "Partial mock `this` in a mimick function is not the mock's `this`"
*Steps to Repro:*

* Create an interface:*

[code]

*Mock the authorize method:

[code]

*Test:*

[code]

*Expected:*

This is the mock's this.

*Actual:*

This points to the function. A class's methods can't call other methods.

[2019-02-02 12:32] ffMathy commented on #13
This has now been implemented. Better late than never.

[2019-02-02 12:32] #13 closed

[2019-02-02 13:06] ffMathy commented on #8
We can't fix this without breaking other things, until this feature is implemented:

https://github.com/Microsoft/TypeScript/issues/22677

[2019-02-02 13:14] ffMathy commented on #15
This has been fixed.

[2019-02-02 13:14] #15 closed

[2019-02-02 13:43] ffMathy commented on #9
I replicated your exact code, and it works. Will close.

[2019-02-02 13:43] #9 closed

[2019-02-02 13:46] ffMathy commented on #17
I'm not sure what you mean here. Can you elaborate - perhaps make a full reproducable example, throwing an error?

[2019-02-02 13:46] ffMathy commented on #14
This should be resolved now.

[2019-02-02 13:46] #14 closed

[2019-02-03 15:07] stuarthendren opened #18 "received with Arg"
I am sometimes stubbing methods using the `Arg` class and want to know if the method is actually called using the `received` function. In the following code the first two pass but not the third:
[code]
I know I can get around it by adding my own hook in the `is` and I understand if this is not supported but just wondering if it should/could be.

P.S. Enjoying using the library.

[2019-02-03 17:48] ffMathy commented on #18
That is definitely a bug. I'll add a test soon and get it to pass to prevent it from failing again.

[2019-02-03 17:50] ffMathy commented on #18
I may not have time before another couple of weeks though. In the meanwhile, feel free to make a PR for it.

[2019-02-12 21:02] aputinski opened #19 "TypeScript says `returns()` is optional?"
The following code

[code]

produces this error on line 3

[code]

I'm using TypeScript `3.2.1`

[2019-02-12 21:46] ffMathy commented on #19
Can you post your `tsconfig.json` file?

[2019-02-12 21:50] aputinski commented on #19
[code]

[2019-02-12 21:53] ffMathy commented on #19
You have "strict" mode enabled. Set `strict` to `false`.

In the meantime, I'll try to get the library running on strict mode.

[2019-02-12 22:23] aputinski commented on #19
Thanks!

[2019-02-13 00:40] jasperblues commented on #17
I mean when you partially mock a class, the concrete method should be able to call other methods in the mock.

* For any concrete method, `this` doesn't point to the mock class. It points to the function. This can be fixed by binding the function to the mock.

Expected:

* A concrete method calls another method on the class, resulting in the mock's method being called.

Actual:

Error: Function do

[2019-02-13 00:41] jasperblues commented on #17
Please reopen this issue, it is an essential feature. I can send a pull request. Let me know if the example is not clear.

[2019-02-13 06:31] ffMathy commented on #17
A PR would be absolutely fantastic.

I'm still not sure what you mean though.

Can you provide an example with a unit test that fails?

[2019-02-14 02:21] jasperblues commented on #17
OK, let's establish the problem with an example first. Stay tuned . . (it might take a few days, under the hammer here a bit, a the moment).

[2019-02-14 02:35] jasperblues opened #20 "Add a 'pose' method to avoid casting"
Given the following:

[code]

Now when we use the mock:

[code]

^-- The compiler/IDE will warn that the type of serviceCloudApi does not match the ctor parameter type.

![image](https://user-images.githubusercontent.com/430321/52758671-4806ae80-305d-11e9-9839-b118573b968d.png)

*Solution:*

Add a method to pose as type 'T'

[code]

[2019-02-14 06:58] ffMathy commented on #20
Can you make a full example that demonstrates the problem?

[2019-02-16 09:35] lonix1 commented on #16
It's very nice for those used to using professional tools, like, you know, what we're used to in .NET (e.g. NSubstitute). :wink:

Amazing how much I miss that professionalism. Node is a mess, but this library makes it a little less so!

[2019-02-16 09:56] lonix1 commented on #16
BTW if you can find a way to integrate this library with [mocha-typescript](https://www.npmjs.com/package/mocha-typescript) then it would be 100% perfect.

[2019-02-17 15:38] ilancohen commented on #8
@ffMathy - I really like this library, but without this fixed, using this library for Angular with its dependency injection is basically a non-starter. For instance, I have a class that depends on a service that I want to mock:

[code]

Mocking LocaleService (for usage in initializing your class) will throw a TS error, since `translate` is not defined.

Any suggestions? I'm happy to help fix this

[2019-02-17 16:02] ffMathy commented on #8
Can you provide a minimal example to reproduce it? Perhaps a PR that adds a unit test or similar? Or a separate project that demonstrates the problem?

[2019-02-17 18:19] ilancohen commented on #8
I haven't tested it, but I think the code below provides a minimal example.
In this scenario, we're trying to mock `ClassB` to test `ClassC`:

[code]

Typescript will complain about that last line because `classBMock` lacks a member called `classA`.

[2019-02-21 11:29] stuarthendren opened #21 "Validating set properties"
Is there a way to validate the properties that are set?

It seems that the set properties are recorded in `InitialState` to the `recordedSetPropertyStates` but I don't think they are used in the `get` is there another way to access them for validation?

The nsubstitue library uses the `received` function, as below, but I don't think this works?

[code]

[2019-02-21 12:49] ffMathy commented on #21
That syntax should still work with substitute.js.

Isn't it working? Can you provide an example of where it doesn't work?

[2019-02-21 14:17] stuarthendren commented on #21
I'm not sure I understand how that example converts to TypeScript, but all of these fail:

[code]

Results in

[code]

[2019-02-21 14:44] ffMathy commented on #21
Your syntax is wrong. Use it exactly like you do in Nsubstitute.

One equal sign instead of 3, and not wrapped in an assert call.

[2019-02-21 15:02] stuarthendren commented on #21
Ah ok, thanks for your help. Just for reference if anyone else looks at this here is an example with a passing and failing test:

[code]

Results:

[code]

[2019-02-21 15:04] ffMathy commented on #21
You're welcome. I'll re-open this, because I just realized the documentation around it is quite poor. I'll close as soon as I have updated the documentation.

Thanks for your feedback!

[2019-02-24 18:12] ffMathy commented on #21
Updated documentation now.

[2019-02-24 18:12] #21 closed

[2019-02-24 18:36] ffMathy commented on #19
I got it working on all strict mode features except "Strict null checks". I added more documentation on this in the README file.

[2019-02-24 18:36] #19 closed

[2019-02-24 18:36] #20 closed

[2019-02-24 18:37] ffMathy commented on #17
Closing until I hear more. Looking forward to it <3

[2019-02-24 18:37] #17 closed

[2019-02-24 18:37] ffMathy commented on #8
Will investigate soon!

[2019-02-26 09:11] ilancohen commented on #8
@ffMathy - I created a [basic example](https://www.typescriptlang.org/play/#src=class%20AllArguments%20extends%20Argument%3Cany%3E%20%7B%0D%0A%20%20%20%20constructor()%20%7B%0D%0A%20%20%20%20%20%20%20%20super('%7Ball%7D'%2C%20()%20%3D%3E%20true)%3B%0D%0A%20%20%20%20%7D%0D%0A%7D%0D%0A%0D%0Atype%20NoArgumentFunctionSubstitute%3CTReturnType%3E%20%3D%20%0D%0A%20%20%20%20(()%20%3D%3E%20(TReturnType%20%

[2019-02-26 09:46] #8 closed

[2019-02-26 09:47] ffMathy commented on #8
Fixed. Thanks for making the library better!

[2019-03-02 03:52] sticklerdev opened #22 "Arg.is function called twice?"
Here is a simple test:

import { Substitute, Arg } from '@fluffy-spoon/substitute';

type Addands = {
  op1: number;
  op2: number;
}

class RealCalculator {
  add(addands: Addands): number {
    return addands.op1 + addands.op2;
  }
}

let mockedCalculator = Substitute.for<RealCalculator>();
mockedCalculator.add(Arg.any()).returns(4);
const result = mockedCalculator.add({ op1: 1, op2: 2});
mocked

[2019-03-02 08:05] ffMathy commented on #22
Nope! This is definitely a bug. I'll get it fixed quite soon and add some tests to prevent the scenario in the future.

I might not have time until 2 weeks from now though. In the meanwhile, feel free to make a PR.

[2019-03-03 10:00] ffMathy commented on #22
Thank you for your report! This has now been fixed. Release should be online in an hour or so.

[2019-03-03 10:00] #22 closed

[2019-03-06 02:38] thrixton opened #23 "Check received calls"
Thanks for the library, it's great.

I've mimicked a method and now I'm trying to verify that it's been called, however, every time I call received(), it executes the method instead.

Is my understanding incorrect that it should just verify that the method has been executed the relevant number of times?

[code]

[2019-03-06 06:19] ffMathy commented on #23
Yup! That's definitely a bug. Will get it fixed soon along with a unit test.

[2019-03-06 09:03] jussimattila opened #24 "Mocked method arguments not allowed when verifying method was called"
First of all, awesome library! Started looking at options for a new project yesterday and I'm already hooked.

I encountered one issue trying to verify that a method on a mock object has been called. I'm mocking `Aurelia` class from the [aurelia framework](https://aurelia.io). See the type definition here: https://github.com/aurelia/framework/blob/master/dist/aurelia-framework.d.ts#L35

Calling `s

[2019-03-06 10:26] ffMathy commented on #24
That's a bug, but I'm not sure TypeScript allows me to do anything about it. I'll look later today.

[2019-03-06 16:57] ffMathy commented on #23
I can't reproduce the issue.

I made the following unit test which tried to reproduce - but it passes just fine.

Can you spot what I am doing wrong, and perhaps help make the test fit in your scenario?

https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/blob/9fccf088ec641a81baf5ac1005b98e18cb07965b/spec/issues/23.test.ts

[2019-03-06 16:59] ffMathy commented on #24
If you make the arguments required, what happens then?

If that works, does it help having them as required (without the `?` operator), but then with a default value?

[2019-03-06 21:57] domasx2 opened #25 "call verification does not work when using Arg.all() to set up return values"
Hi,

Like the lib, but immediately hit a snag. Here's a minimal example:

[code]

[2019-03-06 22:01] ffMathy commented on #25
Woah, I'll see if I can reproduce. If I can, I'll write a test to prevent it.

This should definitely not happen. I'll verify and fix.

[2019-03-06 22:33] thrixton commented on #23
Thanks @ffMathy, I really appreciate your work.
I've sent a PR with the test modified.

[2019-03-06 22:49] ffMathy commented on #25
This has now been resolved, and will deploy in an hour at latest.

Thanks for making the library better!

[2019-03-06 22:50] ffMathy commented on #23
Thanks! I'll have a look soon.

[2019-03-06 22:52] ffMathy commented on #25
Okay, it causes some other bugs. I'll revert and get back to the drawing board. I may not have time until in a week or so.

[2019-03-07 07:11] domasx2 commented on #25
Alright, looking forward  :) will try to find time to contribute perhaps

[2019-03-07 08:49] jussimattila commented on #24
Just making the argument required fixes the issue. But, since the declaration is not my code, I'm not going to edit it in reality. I'm okay with the workaround for now.

[2019-03-11 17:33] Styrna opened #27 "Unable to use mocks with angular TestBed"
Love the simplicity of lib but im unable to use it in component testing with angular TestBed.

Test:

[code]

Not sure if am doing sth wrong but i get following exception.

`
TypeError: Cannot convert object to primitive value
        at JitEmitterVisitor._emitReferenceToExternal (http://localhost:9876/node_modules/@angular/compiler/fesm2015/compiler.js?:4693:44)
        at JitEmitterVisitor.visit

[2019-03-11 19:02] ffMathy commented on #27
Can you make an isolated example and upload it as a zip file?

[2019-03-12 08:56] Styrna commented on #27
Sure here is isolated example

Its ng new with 3 files:
foo-component.ts
foo-service.ts
foo-component.spec.ts

[Sample.zip](https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/files/2955903/Sample.zip)

[2019-03-13 02:45] thrixton commented on #23
Any idea when this might be looked at?
If you can point me in the right direction, I can have a look.
👍

[2019-03-13 07:34] ffMathy commented on #23
I am very busy lately - but in 2 weeks or so it should be doable.

[2019-03-15 09:03] aalpgiray commented on #24
any update on this one. I am getting this on sequelize methods.

[2019-03-15 09:09] ffMathy commented on #24
Still investigating.

[2019-03-15 10:09] aalpgiray opened #28 "Verifying calls on deeper prop methods."
I want to verify received parameters on methods that are deeper than the first level. However, I am having a hard time to figure out correct syntax or the right approach towards the solution.

[code]

[2019-03-15 10:30] ffMathy commented on #28
This is currently not supported, and I don't think it is in other mocking frameworks either?

Just set assignedTo to another fake and verify on that instead.

[2019-03-15 10:30] #28 closed

[2019-03-15 10:44] aalpgiray commented on #28
I thought that but couldn't be able to figure how.

On Fri, Mar 15, 2019, 13:30 Mathias Lykkegaard Lorenzen <
notifications@github.com> wrote:

[2019-03-15 11:57] aalpgiray commented on #28
This resolved the issue like this.

[code]

[2019-03-19 04:38] aalpgiray opened #29 "Validating set properties not working"
Unable to check set properties as in the sample code below.

[code]

[2019-03-19 09:09] ffMathy commented on #29
You need to post your full code. I don't know how `AssetRepository` and `assetService` are defined from your example.

[2019-03-19 09:09] #29 closed

[2019-03-22 06:06] domasx2 commented on #25
I went over the codebase, and I see the problem: actual arguments the mock was called with are not recorded. I have idea how to refactor, will see if there's time over the weekend

[2019-03-23 20:43] domasx2 commented on #23
hey, PR #30 fixes this

[2019-03-23 20:54] domasx2 commented on #27
I encountered a similar problem.
I think the issue is that if no return value is set up for a property/method on the mock, it returns a `Proxy` object. But node's `util.inspect` expects a primitive value in some cases. See https://github.com/nodejs/node/issues/25212

Declaring return values for each method/property on the mock that is used by the test should solve it.

I think this is kinda an arc

[2019-03-24 08:54] domasx2 commented on #25
@ffMathy  I realised this broke ability to set up return values for different arguments eg
[code]

Not sure how to solve it without changing api :(

[2019-03-24 11:18] ffMathy commented on #25
Will revert soon tjen.

[2019-03-24 11:20] ffMathy commented on #25
Do you have an idea of how to fix both scenarios?

[2019-03-24 18:28] domasx2 commented on #25
This is the best I could come up with: https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/pull/31

Still some limitations...
I'm now leaning towards writing smth that more resembles typemoq, just with more limited features and cleaner syntax

[2019-03-25 08:38] ffMathy commented on #25
Very interesting! I'll have a look too next weekend or so.

Also, would you like to become a contributor on this repo?

[2019-03-26 09:19] ffMathy commented on #27
@domasx2 not a bad idea.

What about calling `.build()` on the final object instead?

[code]

Or something similar? `.finalize()` perhaps?

[2019-03-26 09:48] Styrna commented on #27
yeah but that would require you to build a fake before you initailize testbed

i usually start mocking functions in tests (as those are case specyfic) not in beforeeach statments.

[2019-03-26 15:23] ffMathy commented on #27
Why would it require you to build them before?

[2019-03-26 15:53] mz8i opened #32 "Malformed package.json refers to Index.d.ts which does not exist in npm package - cannot use package"
The npm package doesn't work. This is because the package.json has
[code]
but the captial-letter `Index` files currently exist only in this github repo's `dist/` folder - they are nowhere to be found in the package obtained with `npm i -D @fluffy-spoon/substitute`. Presumably this is because of some renaming that occurred, after which the package.json didn't get updated. Really, it would be safer

[2019-03-26 16:18] Styrna commented on #27
The exception from JitEmitterVisitor happens during testbed configureTestingModule with mostly done in beforeeach statments of the test.spec.

[2019-03-26 20:04] ffMathy commented on #32
Thanks for reporting this, it was introduced recently unfortunately.

I have fixed the issue. A new release will be up soon.

[2019-03-26 20:04] #32 closed

[2019-03-27 08:26] testpossessed commented on #27
@Styrna

When I switched from AngularJS to Angular on release of v2 I tried to use my own library jsSubstitute for mocking services and the conclusion I came to was that it just isn't necessary and using anything other than the default Jasmine spies isn't worth the grief and effort when testing Components.

Don't get me wrong I think substitute.js is a great improvement on the other libraries targ

[2019-03-27 08:44] aalpgiray opened #33 "package.json main and typings path causing issues on Linux systems"
The current package.json file contains dist/src/Index.js and dist/src/Index.d.ts paths with capital letter Index. This is causing issues on the Unix based system because of the case sensitive file system underneath.

### Problem
[code]
### Solution
[code]

[2019-03-27 09:01] #33 closed

[2019-03-27 09:01] aalpgiray commented on #33
duplicate of #32

[2019-03-27 10:19] mz8i opened #34 "Add a type definition for Substitute.for<T> result?"
Would it be possible to export a single type definition for the result of `Substitute.for`? This is so that it's easier to have mock variables in tests with proper type annotations, rather than needing to assign the value of `Substitute.for` in the place where the variable is declared. Especially useful for cases where the mock variable is defined for a whole test suite, and then it is being assig

[2019-03-27 15:07] mz8i opened #35 "Is it possible to use Object.keys() with a Substitute.for() result?"
I have a class which has a series of readonly properties, let's say
[code]
I am trying to figure out a way to get the list of the names of A's properties at runtime, without actually constructing an instance of the class. I needed in a test, and I am already using Substititute.js so thought maybe I could use it here, but with no luck so far.
I tried `Object.keys(Substitute.for<A>())` but it return

[2019-03-27 15:08] ffMathy commented on #35
Can you show me the full code?

[2019-03-27 15:14] mz8i commented on #35
[code]
Something like that.

[2019-03-27 15:16] ffMathy commented on #35
Alright, well look at the compiled JavaScript file.

I think you'll find that there's not much chance for whoever is evaluating it to see what properties are available at runtime.

Perhaps you should look into TypeScript's `reflect-metadata` functionality.

[2019-03-27 15:16] #35 closed

[2019-03-27 15:16] ffMathy commented on #34
That's a great idea!

[2019-03-27 16:45] domasx2 commented on #25
Nah, thanks, but I don't think I will continue working on this in the near future

[2019-03-27 22:40] Styrna commented on #27
I would argue here.

Spies are not mocks and they break isolation of unit tests. Components should be tested the same way as services are. This lib was compared with ts-mockito and i would favored it over ts-mockito as its more simple (we use nsubstitute on backend testing). But since im unable to test components with it i thnik its not worth testing with 2 frameworks.

btw ts-mockito support test

[2019-03-30 09:23] testpossessed opened #36 "Cannot convert object to primitive value"
I've been using the library for about a week as I started to re-factor a VS Code Extension I created.  For the most part Substitute is working as expected, but I have started to get an error "Cannot convert object to primitive value" when trying to verify a method call that returns a promise.  The promise may not be the issue, but I am getting the error in two places in one test suite while other

[2019-03-30 12:03] testpossessed commented on #36
So i have been stepping into this call a bit further

[code]

At this point x is a Proxy, which as util.inspect progress identifies as a Function (typeof x === 'function') and tries to format a string using a name property.  However the debugger shows there is no name property on Proxy and the error occurs.

Not sure how much help this is going to be, but it is some progress, I think.

[2019-03-30 12:26] testpossessed commented on #36
Looking into util.inspect and found this on MDN

[2019-04-02 07:23] testpossessed commented on #27
Argument accepted, but the whole philosophy behind NSubstitute is that the formal differences between, Mock, Stub, Fake, Spy etc don't matter if it lets you substitute a real element (class, method, function etc) with something else to enable testing then that is what matters.

Whilst I welcome the ability to work with JS/TS as if it were strongly typed it isn't and I prefer to embrace that we can

[2019-04-02 07:37] testpossessed commented on #34
I agree it would be great to have an elegant option for this, but wonder if we couldn't just have Substitute inherit from ObjectSubstitute<OmitProxyMethods<T>, T> & T; and have the static Substitute.for<T> return an instance of Substitute<T>.  Feel free to tell me to shut up if TypeScript won't support this :-)

Why?

I would prefer the library to stick with the philosophy of NSubstitute and avoid

[2019-04-02 13:28] testpossessed commented on #34
I forked the repo and added a speculative attempt at providing a solution for this issue.

It is in a feature branch at https://github.com/testpossessed/FluffySpoon.JavaScript.Testing.Faking/tree/feature/return-substitute

Have a look, if you guys think it is appropriate I will submit as a PR.

I copied the compiled dist folder and pasted it over the contents of the package in in node_modules of m

[2019-04-02 14:44] ffMathy commented on #34
Looks fantastic! Make a PR, and I'll merge!

[2019-04-02 14:45] ffMathy commented on #36
Very interesting! Will look into it soon.

[2019-04-02 17:02] testpossessed commented on #34
PR submitted

[2019-04-02 20:06] #34 closed

[2019-04-03 09:02] mcshaz opened #38 "promise containing object with Date property not unwraping"
I have the following
[code]
in my tests
[code]
and the code under test
[code]
when using a real implementation, the function works fine, but when using the code above, I get:
[code]

[2019-04-03 09:22] jkytomak opened #39 "Checking properties which are objects does not work"
I get this kind of error when trying to validate that property is set with object value:

[code]
Notable is that error is showing the real value which the property was set with instead of the expectation.

[2019-04-03 10:18] testpossessed commented on #38
I think this is pretty much the same underlying problem as #36

[2019-04-03 11:08] mcshaz commented on #38
can't repro - see pull request for test (which passes).

[2019-04-03 11:08] #38 closed

[2019-04-03 11:24] mcshaz commented on #38
found it - 1 test was not cleaning up after itself and so the function was being called with a different argument

[2019-04-03 16:42] ffMathy commented on #39
Yeah what it shows is definitely wrong, but it wouldn't work either way, since `substitute.js` will compare by reference. You are creating a new object there.

[2019-04-03 20:25] jkytomak commented on #39
Is there anyway to assert what value was set? It would be fine if for example that field would be left as is and I could assert it separately by driectly accessing and use mocks just for fuctions.

[2019-04-05 10:34] mz8i opened #41 "Should the repository contain the dist/ folder?"
It seems to me like not a best practice in general. Opens the project to the possibility of discrepancies between the TS code and what is actually released to npm. There was already issue #32 that stemmed from this. Besides it pollutes the commit diffs with stuff like .js.map files etc.

[2019-04-12 05:11] samuelnilsson opened #42 "Unexpected identifier error"
I'm getting the following error when using the module:
[code]
The module works perfectly when I remove the spec directory. Should the spec directory even be included in the published package?

[2019-04-18 14:13] Karql commented on #27
Hi @ffMathy

At the begining I'd like to thank you for great work you've done! ;)

I would like use it with angular project and run into the same issue.

After some debugging the problem is with angular JIT compilation.

Sample:

[code]

When anuglar try to createComponent execute:

https://github.com/angular/angular/blob/d68a98f0cd7e029f87941e8c9dbf07423aaf54b7/packages/compiler/src/compile_metad

[2019-04-20 04:16] samuelnilsson commented on #42
This only seems to be a problem when using ts-node: https://github.com/TypeStrong/ts-node/issues/617

[2019-04-20 04:16] #42 closed

[2019-04-20 08:49] ffMathy commented on #27
Great idea @karql!

[2019-04-20 11:07] Karql commented on #27
@ffMathy for my purposes I've done something like this:
https://github.com/Karql/angular-tests/blob/0c8f6461022f6a8a84379d14a8e454999fa35806/libs/testing/src/lib/wrappers/ng-substitute.wrapper.ts

Set `substitute['__anonymousType'].returns('SubstituteJSFake');` it is a shourtcut but it works :P

Properly this property should be set to undefined but then promise is pass to stringify method.
https:/

[2019-04-25 14:46] ffMathy commented on #41
Nope, but if I add them to gitignore, they will also be ignored by NPM upon publishing.

[2019-04-25 14:47] ffMathy commented on #39
Can you show me your full test code?

[2019-04-25 14:49] ffMathy commented on #36
I haven't forgotten this, I just haven't had the time. Can you perhaps work on a PR for removing use of the inspect function?

[2019-04-25 14:50] #25 closed

[2019-04-25 18:02] jkytomak commented on #39
Can't share whole, but here is revelent parts:

[code]
So I would like to check that token is set to what I expect, but rest of request should be faked

[2019-04-29 13:06] ffMathy commented on #39
How does your `extractAndCheckToken` function look like? Alternatively, can you come up with a simple reproducible example?

[2019-04-29 13:07] ffMathy commented on #27
It sure does @Karql! I'll take a look as soon as I have the time. Won't be for the next month or so I think.

I think I'll end up creating different integrations for substitute.js, for instance @fluffy-spoon/substitute-angular, which you can then "hook in" to substitute.js to support these cases.

[2019-05-03 07:40] abarre opened #44 "Unexpected received behavior on uncalled method"
Testing an example based on the one in the README on the version `1.88.0`:

[code]
The test passes but it should not since `substract` is never called. It should fail at the line `calculator.received().subtract(Arg.any(), Arg.any());`

Note that this is the same if Calculator is a class or a abstract class.
I don't know if it's a bug or if I don't understand the API.

[2019-05-06 02:19] sluebbert opened #45 "Checking received calls seems to be off at times"
I seem to be running into an oddity when asserting that calls were made. The received method seems to be thrown off somehow based on the stripped down test shown below.

[code]
Running my test fails with the unexpected message:
[code]
The error message is complaining about the method updateTransaction, even though I only stated that I am interested in asserting that insertTransaction was called.

[2019-05-10 05:53] DamienBraillard commented on #27
I got a workaround that allows to inject substitutes as providers using the TestBed.

Defining the substitute provider resolution by value ('useValue') like this does not work indeed:
[code]
But... what works is to setup the provider resolution by factory like that:
[code]

For the sake of brievety:

Replace
[code]
By
[code]
And it should work. I'm using Jest as test framework with Angular 7.

Hop

[2019-05-18 08:32] douglascvas opened #46 "Is there a way to reset the mocks?"
Whould be awesome if there was a way to reset the mocks.

[2019-05-20 00:36] aputinski commented on #24
Is this related to optional parameters not working not working when setting up a return?

[code]

[2019-05-21 15:07] felipe-augusto commented on #14
@ffMathy We are also having this problem, there's a way to perform a deep-equal comparison? Using the same example as before:

[code]

It throws something like:

[code]

[2019-05-23 11:15] BluePsyduck opened #47 ""TypeError: this.<functionName> is not a function" on partial mocks"
I came across a problem when using partial mocks. I am not sure if it is related to (or the same as) #17, or if I did something wrong on my side (I started TypeScript only few days ago), so please have a look on the following:

#### Minimal example reproducing the error:
[code]
#### Expected output:
"The real Thing"

#### Actual output:
[code]

Can somebody help me?

[2019-05-27 16:19] MateusZitelli opened #48 "Received calls check should deep-compare arguments"
First, thanks for this amazing library!

I have being facing some issues when testing APIs that receive objects as arguments. Seems like the received call checks does not deep compare objects. Check out the example bellow:

[code]

I believe a possible solutions would be the library to offer a way to deep-compare the arguments. Another solution would be a method to have access to the list of calls

[2019-06-08 12:10] taylorn16 commented on #45
I am experiencing the same issue. In my case it looks like this

[code]

It seems a Substitute can't handle tracking more than one method being called on it during a test case?

[2019-06-16 06:04] assapir opened #49 "Lazy Promise.reject handeling"
I have this test:
[code]
the rejected promise is handled inside the controller (which called in the `request`) with `catch` clause, but I am getting
[code]
even before the actual call to the mocked method happens.

I believe that this is because the promise rejection isn't lazy. any way to do it?

[2019-06-16 10:02] assapir opened #50 "Unable to chain received() and returns()"
Not sure if it is a bug or a feature request, but I think chaining like this:
[code]
should work.
currently it complains that:
[code]

[2019-06-17 02:55] mpkelly commented on #36
This is causing me an issue with some async tests, too, so going to have to swap out Substitute for something else unfortunately.

[2019-06-18 05:20] hmil commented on #41
@ffMathy Use a "`files`" entry in package.json to whitelist all the things you want included by npm. This way you can add the built files to .gitignore and still get them on npm.

https://docs.npmjs.com/files/package.json#files

[2019-06-19 11:31] ffMathy commented on #41
Very cool @hmil - will check that out when I have time. In the meanwhile, PRs are welcome too!

[2019-06-19 15:29] DanielSiepmann commented on #45
As far as I understood:
The reason is, there is only context for the mock, not individual mocked methods. All methods share the same context, and reset the invocation counter on each invocation.
If one method of mock is invoked, everything is okay. If another one is invoked, the counter is reseted and is now at 1 again.

A failing test can be found here: https://github.com/DanielSiepmann/FluffySpo

[2019-06-19 17:55] renatomariscal opened #51 "All functions shares the same state"
Hi, I have the following test:
[code]

Running on:
[code]

`add` and `divide` seems to be sharing the state, in that specific test I expected to get an error that divide wasn't called, but it passed.

If I change it to:
[code]

I get the error:
[code]

[2019-06-20 05:38] #41 closed

[2019-06-20 09:55] falconmick opened #54 "Automocking like in Nsubstitute"
Hi!

Just wondering if this project plans to or can have support for an Nsubstitute feature in which the values returned themselves are also Nsubstitutes mocks. Or is this already a thing and I just am doing somthing wrong.

Cheers!

[2019-06-20 13:54] ffMathy commented on #51
Thanks for the test, that'll at least prevent us from releasing something until this is fixed. I don't have much time these days though. Do you have time for a PR resolving it?

[2019-06-20 20:55] Mayjest opened #55 "Mocking nested generics"
AKA mocking a mongoose model. Not sure if nested generics is the right term.

For context: I'm playing around with a Nestjs app using mongoose & came across Substitute due to it's ability to provide mocks of interfaces, brilliant when dealing with mongoose documents. However, I'm having trouble mocking away the model and I believe it's due to nested generics.

Here's a couple of bits of stripped d

[2019-06-20 21:05] renatomariscal commented on #51
I don't have much time either; I would need to spend some time getting familiar with the internals of it.
If I find time for it, I may get back.

[2019-06-24 07:29] DanielSiepmann commented on #51
I guess this is the same issue as in #45?

[2019-07-03 15:16] ulrichsg commented on #24
I've run into the same issue with the `Counter.inc()` method from https://www.npmjs.com/package/prom-client. In this case there are also two overloads, with one having a mandatory parameter and the other one having only optional parameters (https://github.com/siimon/prom-client/blob/master/index.d.ts#L183). The parameter I am passing is actually the mandatory one. Here's a minimal example:

[code]

[2019-07-07 11:39] #24 closed

[2019-07-09 14:29] ffMathy commented on #54
This can't be done unfortunately, because we don't know the return types of methods at runtime in JavaScript (typing information is lost in TypeScript when compiled too).

If that makes sense?

[2019-07-09 14:29] #54 closed

[2019-07-10 19:09] Nr9 commented on #36
Same problem here.

[2019-07-16 17:58] assapir opened #57 "Mock Any-instance-of functionality"
Is is possible to do so?

[2019-08-09 17:16] BillTriangle opened #58 "Minor issue in README.md"
In the  [README under partial-mocks](https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking#partial-mocks)
 the return value should be -1 instead of 10:

`console.log(fakeCalculator.subtract(1, 2)); //prints -1`
instead of
`console.log(fakeCalculator.subtract(1, 2)); //prints 10`

fakeCalculator use the real implementation of subtract

[2019-08-19 20:48] chooban opened #59 "Cannot mock function with optional parameters"
Apologies if I've missed this in the issues or readme.

If I attempt to create a mock which matches an optional parameter I get the error message of `Property 'returns' does not exist on type 'string'`.

e.g.

[code]

I've created a small test case repo: https://github.com/chooban/substitute-optional

[2019-09-04 09:04] Kosta-Github commented on #55
Maybe this is more related to optional arguments? see: https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/issues/59

[2019-09-04 09:12] ffMathy commented on #59
Nice - can you perhaps make a PR to this repo instead, with a test that reproduces it? :angel:

[2019-09-04 09:14] ffMathy commented on #58
Fixed! Thanks.

[2019-09-04 09:14] #58 closed

[2019-09-04 09:15] ffMathy commented on #45
@DanielSiepmann I see you made a repo for adding the broken test. Can you open a PR as well?

[2019-09-04 09:19] Kosta-Github commented on #49
maybe (untested):
[code]

[2019-09-04 09:28] chooban commented on #59
Sure! I'll make some time to get that done this afternoon.

[2019-09-04 19:27] pasku opened #62 "Feature request: fail when stub is called with arguments not maching any configured call."
Currently, when I call a stub instance passing parameters which do not match any previously configured call, that call does not fail. It would be very useful if such a call would throw an error such as UnexpectedStubCall with details about the arguments mismatch.

This would be a breaking change, so it would probably need to be configured or used through a slightly different API.

What do you thin

[2019-09-10 15:39] MainAero commented on #48
Your example should work when you are using `Arg.is`:

[code]

[2019-09-19 15:54] jamessawle commented on #59
A fix for this would be brilliant, as is causing me to fall back to jest.fn alot :(

[2019-09-26 09:26] ffMathy commented on #59
Test has been merged in - thank you. Will look at fixing all tests soon.

[2019-10-07 19:24] stephenh commented on #48
@MainAero true, but it seems like this should "just work" especially for object literals.

Granted, I understand maybe we don't want to assume _everything_ should be `deepEqual`'d, but AFAICT you can tell "is this a class instance or just an object literal" by doing something like:

[code]

I.e.

[code]

Given that, can fluffyspoon just do this for us, especially for object literals?

[2019-10-09 09:39] codeepic commented on #36
Same here - using `Substitute.for<interfaceName>()` works like a charm but sometimes I get `Cannot convert object to primitive value` and then I just have to mock the data. Also wasting a lot of time trying to figure out some logic behind why the error occurs or doesn't occur in very similar conditions.

[2019-10-09 10:55] codeepic commented on #36
Is there any progress on this?

[2019-10-09 11:01] testpossessed commented on #36
Not from my side, I opted to go a different route.  From my point of view the issue could be closed as it is not affecting me anymore, but will leave it open as others have expressed same issue.

[2019-10-18 18:35] rodrigopsasaki opened #67 "Ability to mock that a function throws an Error"
I haven't found this anywhere and I feel like the library should handle this. I even looked at open and closed tickets but couldn't find this functionality.

I'd like to be able to have my mocked dependencies throw exceptions, for example:
[code]

Is there any reason why this is not supported?

[2019-10-24 09:43] Kosta-Github commented on #48
maybe the suggestion from @MainAero could be added as an additional method to `Arg`? something like this:
[code]

[2019-10-24 10:07] Kosta-Github commented on #48
actually, the example from @MainAero works for me when defining return values, e.g.:
[code]
but not when validating like this:
[code]
since `objMock.received().action()` expects only an argument of type `{ prop: string }` not an argument matcher...

[2019-11-05 04:39] noelklein commented on #59
I'm having a similar problem with optional parameters and `received()`. Here's a PR to reproduce: #68

[2019-11-06 13:26] IlhamKhabibullin opened #69 "Why to use void"
`void 0` used in many places, why so?

[2019-11-09 20:07] ffMathy commented on #69
Because `undefined` can be overwritten, so `void 0` referers to the *real* `undefined` reference. It's just a JavaScript convention that's technically not relevant for TypeScript, since TypeScript compiles to "strict mode" in JavaScript.

[2019-11-09 20:07] #69 closed

[2019-11-13 09:06] ffMathy commented on #67
Nope - just haven't implemented it. Feel free to make a PR!

[2019-11-13 10:29] IlhamKhabibullin commented on #45
So this issue is fixed now, after merging this pr https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/pull/70

[2019-11-13 10:29] IlhamKhabibullin commented on #51
So this issue is fixed now, after merging this pr https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/pull/70

[2019-11-13 10:30] ffMathy commented on #45
Thanks!

[2019-11-13 10:30] #45 closed

[2019-11-13 10:31] #51 closed

[2019-12-06 19:09] shvgn opened #72 "Working use case of `didNotReceive`?"
I tried to use didNotReceive. Below are tests I ran in the repo. In the output, I get `Error: Test finished without running any assertions` for all these tests. I would like to know whether it simply does not work or I miss something.

[code]

Output:

[code]

[2019-12-06 19:12] shvgn commented on #72
Made PR with these tests #73 in case they are useful.

[2019-12-07 10:39] ffMathy commented on #72
You're actually doing it entirely right.

Ava is just complaining that you don't have any assertions.

substitute.js doesn't know anything about AVA. That's why it doesn't call any assertions in AVA either.

You can ask AVA to allow tests with no assertions, or use  "t.pass();" in your test.

Does that help?

[2019-12-07 10:52] shvgn commented on #72
Thanks, I get it with Ava.

What confuses me is that none of this tests failed. I expected 2nd or 4th to fail, where actual call happens: `calculator.add(1, 2)`. We call a method, than verify with `didNotReceive` that is was not called. And in fact nothing happens.

[2019-12-07 10:59] ffMathy commented on #72
Ah I see. Can you change the tests to include "t.pass" and then I will re-introduce them?

[2019-12-07 11:23] shvgn commented on #72
A did add `t.pass()`, but still get ` Error: Test finished without running any assertions`

[2019-12-17 18:39] stephenh commented on #48
To chime in on this issue again, I'm trying to introduce FluffySpoon to a new project, and this bug bit us again on the very first test case. It's hard to push for FluffySpoon when such an obvious sharp edge exists, especially when IMO an easy/obvious fix exists (i.e. detect if the arg is an object literal and auto-deep-equal it).

[code]

Console logs an anonyous function instead of `true`.

(Gra

[2019-12-21 01:17] wschurman commented on #72
After looking at the code, I believe that `didNotReceive` isn't implemented? I only see a property case for `received`: https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/blob/master/src/states/InitialState.ts#L138

[2019-12-21 08:27] shvgn commented on #72
I saw that too. I used `received(0)` in my tests.

[2019-12-21 08:29] wschurman commented on #72
I'm working on a PR to alias it, though some complex situations arise for some of the test cases you provided that should throw. We'll see how far I get.

[2019-12-23 21:55] JamieCorkhill commented on #36
@testpossessed @ffMathy I'm really liking this tool, but I'm coming across the same issue. I'm also attempting to check if a mocked function was called with the correct values. Has there been any progress on this?

@codeepic Did you figure anything out?

Thanks.

[2019-12-24 18:58] JamieCorkhill commented on #36
I really like Substitute and its fantastic syntax, but I, unfortunately, have to move to `ts-mockito`. I can try working on a PR when I have time (which might not be for a while) to explore the issue further and perhaps find an alternative for `util.inspect()` if you want @ffMathy.

[2020-02-01 20:49] NickTsitlakidis opened #77 "Issue with rxjs operator"
Hello,

It seems that there is something wrong when a substitute is passed to the "of" operator of rxjs.

The following example will never log the message :

[code]

Obviously the operator works fine with other type of objects.

I've also created a related SO question if that helps : https://stackoverflow.com/questions/60020865/rxjs-of-operator-doesnt-emit-value-when-using-proxies

Well done for t

[2020-02-05 09:48] NickTsitlakidis commented on #77
Closing this. It's an issue with rxjs. Further information the SO question.

[2020-02-05 09:48] #77 closed

[2020-02-13 06:25] #72 closed

[2020-02-14 10:27] #36 closed

[2020-02-14 11:20] notanengineercom commented on #48
@ffMathy I think this issue can be closed now - seems like it was the issue described on #79

[2020-02-14 14:04] ffMathy commented on #48
Thanks! Also, do you want to become an official contributor?

[2020-02-14 14:04] #48 closed

[2020-02-14 14:44] notanengineercom commented on #48
Sure ^^ I am working on a few more contributions. Thanks for offering 😄

[2020-02-14 19:58] ffMathy commented on #48
I added you now! Enjoy full rights to the repo 😁

And thanks once again for helping many users of this library.

[2020-02-21 21:12] #67 closed

[2020-02-22 01:03] notanengineercom commented on #47
This has nothing to do with the library, but how js works.
If you modify the mimicks function like this:
[code]
it'll work as you expect.

[2020-02-22 01:03] #47 closed

[2020-02-22 01:09] #23 closed

[2020-02-22 14:39] notanengineercom commented on #49
Couldn't reproduce. This is the code I used:
[code]

This was the output:
[code]

[2020-02-22 14:39] #49 closed

[2020-02-22 14:49] notanengineercom commented on #44
For the exact same setup I get:
[code]

[2020-02-22 14:49] #44 closed

[2020-02-22 15:05] notanengineercom commented on #39
I couldn't reproduce the issue. I got it working as expected with this code:
[code]

You can see I used both `Arg.is()` and a comparison by reference. I would recommend `Arg.is()` for more complex matches, specially if you want to match a class.

[2020-02-22 15:05] #39 closed

[2020-02-24 09:08] #59 closed

[2020-02-27 02:14] ProfessorSalty opened #82 "Doesn't seem to work with Knex"
I can use `Substitute` with other objects, but for whatever reason, `Knex` won't work.

[code]

[2020-02-27 16:38] ffMathy commented on #82
Which version of TypeScript are you using?

[2020-02-27 16:39] ProfessorSalty commented on #82
3.7.5

[2020-03-02 16:07] AuHau opened #83 "Recieved functions does not allow Arg.all()"
When asserting received / not received calls TypeScript complains if `Arg.all()` is used.
But for specifying `returns()` `Arg.all()` work as expected.

Here is simple test-case that I would expect to pass:
[code]

[2020-03-04 18:28] notanengineercom commented on #83
@ffMathy is this unexpected behaviour? If not the fix is quite easy, I have it already working locally

[2020-03-04 18:51] ffMathy commented on #83
Yup, that's definitely a bug!

[2020-03-04 21:53] #83 closed

[2020-03-04 23:58] notanengineercom commented on #82
On a first quick glance, it seems that the types overload are not able to recognize substitute. So maybe it is a typescript limitation. As a temporary and very hacky solution, you can force the type like this:

[code]
I guess you could build your own mocked chain logic with returns. Like this:

[code]

[2020-03-05 06:26] #82 closed

[2020-03-05 07:07] ffMathy commented on #82
Closed until this is possible in TypeScript.

[2020-03-17 23:10] xamoulin opened #86 "Can't mock method that returns boolean"
When I try to setup the return value for a method that returns a boolean I have the following error: Argument of type 'true' is not assignable to parameter of type 'never'.

It was working fine in version 1.112.0 but it's broken in 1.116.0.

[2020-03-17 23:17] xamoulin opened #87 "Returns is possibly undefined on property"
When I try to setup a return value for a property, `returns` is detected as possibly undefined.

`const something = Substitute.for<Something>();`
 `something.isSomething.returns(true);`

It can be workaround by doing : `something.isSomething.returns!(true);`

[2020-03-18 07:01] ffMathy commented on #86
@notanengineercom I'm baffled by this, and have no idea of the root cause. Could it be the new Promise features?

[2020-03-18 08:58] notanengineercom commented on #86
Just tested it, and confirmed. It's something to do with the new typings (T extends Promise...). Weirdly enough, only happens with booleans. All other return types are not affected. We'll take a look this evening. As a note, we need to make extensive tests for each substitute method, where we test all possible types!

[2020-03-18 09:03] notanengineercom commented on #87
Related to #86

[2020-03-18 14:20] xamoulin commented on #87
@notanengineercom I don't think this is related to #86 because I had this issue in version 1.112.0 and it's still there in 1.116.0. Also it's not only with boolean type, it's with all properties.

[2020-03-18 18:09] DillonSykes commented on #46
Completely agree this should be a staple to any mocking lib

[2020-03-18 20:32] ffMathy commented on #46
Why not just make a new mock?

[2020-03-18 23:59] notanengineercom commented on #46
I agree on that. I could see useful reseting the call counts for example, but I can't think of a case where reseting the mocks is better than making a new one

[2020-03-19 00:01] notanengineercom commented on #87
You are right, it's because of the `Partial<T>` on this line: https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/blob/c21c4cbbd09e9205bc0d69a5b86cc0b6599200f8/src/Transformations.ts#L15

[2020-03-19 04:48] bachstatter opened #89 "Can I mock a listener receiving a callback"
Thanks for an awesome library!
Is there anyway to mock the monitor function and call that with values to assert?
[code]

[2020-03-19 07:00] ffMathy commented on #89
Yeah, look at `Arg.is`, under "Matching specific arguments" in the README 👍

If you like the library, consider sponsoring as well via the "sponsor" button.

[2020-03-19 07:00] #89 closed

[2020-03-19 07:02] #86 closed

[2020-03-21 08:35] abdala commented on #46
Sinon has an option to `reset` and `restore`  because they work with global state and that is not the case of this library.

When you create a new mock you have a completely new instance.

This is what I usually do:

[code]

[2020-03-21 12:13] ffMathy commented on #46
Global state is just hard to test in general and should be avoided when possible. I feel like adding this feature is just making it easier to treat the symptom and not fix the problem.

But maybe that's just me?

Can't you provide a function for resetting your global state? Or refactor and avoid it all together?

[2020-03-25 04:18] stephenh opened #90 "Infinite recursion in deepEqual"
`deepEqual` doesn't handle objects that have cyclical references:

[code]

[code]

[2020-03-25 12:46] notanengineercom commented on #90
Good catch!
I think using `Arg.is()` will work for objects with circular references

[code]

[2020-03-25 15:04] stephenh commented on #90
@notanengineercom yeah, that is a work around, but if my service has, say 10 methods, and my test only wants to mock one of them, I have to write this ^ snippet for all the other 9 methods, and do it for every test, and every time I add a new "oh write this argument has cycles" method, update all the tests (or make a central helper method that says "create this mock but without the cyclic error bu

[2020-03-25 15:21] ffMathy commented on #90
I think `deepEqual` should contain an array of object references it has seen before "locally". If it stumbles upon one that it has seen before, it just compares against `undefined`.

What do you think of that @notanengineercom?

[2020-03-26 08:04] notanengineercom commented on #90
Yes, that sounds good to me @ffMathy

[2020-03-26 10:37] ffMathy commented on #90
Perfect. I'll see if I have time over the next upcoming weeks :+1:

[2020-04-01 10:41] notanengineercom commented on #90
@ffMathy if you don't find the time, let me know. Due to the current state of the wold I have a few more hours of free time 😄

[2020-04-01 10:54] ffMathy commented on #90
Haha yeah okay - feel free to begin then! <3

[2020-04-03 05:51] #90 closed

[2020-04-03 06:09] ffMathy commented on #87
Hmmm interesting - does that mean we can't fix it due to a TypeScript limitation?

[2020-04-03 06:09] ffMathy commented on #57
Can you elaborate what you mean?

[2020-04-03 06:10] ffMathy commented on #50
That's expected behavior. Make the two calls individually.

[2020-04-03 06:10] #50 closed

[2020-04-03 06:10] ffMathy commented on #46
Closing until we hear a reply.

[2020-04-03 06:11] ffMathy commented on #62
This is not a feature in NSubstitute, which this library is a port of. I also don't see its broad use. Sorry.

[2020-04-03 06:11] #62 closed

[2020-04-03 06:12] ffMathy commented on #55
I suppose this was fixed in #59? If not, let me know.

[2020-04-03 06:12] #55 closed

[2020-04-10 00:37] vigie opened #92 "resolve() without an argument does not return a promise"
Hi

Thanks for the library, great syntax. Just tried incorporating it today and noticed the following:

[code]

`result` should be a Promise but it is `undefined`.

To make this work, currently need to write

[code]

[2020-04-10 06:04] cfredhart opened #93 "Can't mimick AWS SNS.publish"
I'm trying to call my callback when I call `publish` on a Substituted AWS `SNS` instance. My code looks something like the sample below, but `sns.publish(Arg.any('object'),Arg.any())` doesn't seem to have the `mimick` method. I've played around with the argument matching and can't seem to get this to work. I don't know if this is an issue or a lack of understanding on my part.
[code]

Ultimately w

[2020-04-10 10:55] notanengineercom commented on #92
Good catch! I could reproduce the isssue, and I'm pushing a fix 😄

[2020-04-10 12:23] #92 closed

[2020-04-10 15:21] notanengineercom commented on #93
This is due to a Typescript limitation where when inferring a function parameter or return type, the last overload is used for inferrence, as it is assumed to be the general one.

But I'm working on a workaround - it should cover most cases, but maybe not all of them. I think it will fix your case, as sns.publish only has two function overloads.

[2020-04-10 19:18] notanengineercom commented on #93
@cfredhart, thanks for all the info! In the pr I just submitted, the issue is fixed with a workaround. I tested both cases you provided, and can verify that typescript won't complain anymore. As I explain in the pull request, the origin of the issue is a typescript limitation

[Link to quoute in documentation](
https://www.typescriptlang.org/docs/handbook/advanced-types.html#type-inference-in-cond

[2020-04-10 21:18] #93 closed

[2020-04-10 23:25] vigie opened #96 "Can only call returns on a property once"
[code]

This makes sense - in the second instance the value of `fooSub.bar` will be `'bar'`.

This may be by design, but I'm unsure of the best way to work around this problem.

I know you can set up multiple return values in a single call to returns, but that is not suited to my use case, where I want to introduce some default behavior in a set-up function but then later override the default retu

[2020-04-11 06:47] vigie commented on #46
Here is a use case that has nothing to do with global state:

Let's say I'm using Substitue to mock a dependency and give it some default behavior. This default behavior is appropriate for 99% of my tests so I have it as part of my common test setUp() routine, which is also doing a lot of other common setup before each test. But for one of my tests I need this substitute to do something different.

[2020-04-11 06:48] vigie commented on #96
Is this related to https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/issues/46 ? (just left a comment there as well)

[2020-04-11 23:14] notanengineercom commented on #96
It’s like that by design. I guess the only solution is to implement a way to reset specific mocks. What do you think about this? @ffMathy

[2020-04-12 08:27] ffMathy commented on #96
What is the use case here? Why would you ever want this? I feel this is a smell in your test. Why not two individual tests instead?

Tests should preferably only test one thing.

[2020-04-12 11:13] ffMathy commented on #96
Closing in favor of #46, but I'm starting to see what you mean.

[2020-04-12 11:13] #96 closed

[2020-04-12 11:13] ffMathy commented on #96
Will reply there.

[2020-04-12 11:20] ffMathy commented on #46
Alright, that actually makes a lot of sense.

Perhaps we should start support this: https://nsubstitute.github.io/help/configure/ or something similar.

We would need to make it more JavaScript friendly though, as Configure might actually be a real name that people use for their methods.

@notanengineercom got an idea?

[2020-04-12 12:12] notanengineercom commented on #46
Ahh this is great. I experimented with a solution similar to `.Configure`, but the behaviour was different. I like your proposition way better :+1:
About the naming, from what I read, `Configure()` is only used to modify the mocks for a method. So something along the lines of `configureMockFor()`, `configureSubstitute()`...

[2020-04-13 23:24] notanengineercom opened #97 "Resolves and rejects functions are not implemented on properties"
On an interfece like:
[code]

We have both the `resolves()` and `rejects()` methods available by the typings, but when running real code, we are returning the proxy instead of the resolved or reject value.

[code]

[2020-04-14 09:49] ffMathy opened #100 "OpenCollective or similar"
@notanengineercom I think we should create an OpenCollective site where people can support this project. That would also make it easier for me to reserve time for it.

And then I think we should somehow figure out how to distribute the funds. You have almost already contributed more to this project than I have, so of course you should receive at least half of the support.

What do you think? Do yo

[2020-04-14 11:08] notanengineercom commented on #100
I think that's a great idea, thanks a lot for including me!
I have no experiences with this at all, but I'm happy to help out on creating it! What would be the first steps?

[2020-04-14 11:20] ffMathy commented on #100
@notanengineercom I have created the project now. However, I somehow need your e-mail address to add you as an admin there, and I have no idea how on earth we're going to do that without you revealing your e-mail to the entire world :sweat_smile:

[2020-04-14 11:37] notanengineercom commented on #100
haha I just sent you an email!

[2020-04-14 13:54] ffMathy commented on #100
Alright, you should be invited now! Check your email :D

Perhaps we should have something in the README.md file, allowing for people to contribute. Perhaps an OpenCollective badge? What do you think?

Fra: Enrique Pöhlmann<mailto:notifications@github.com>
Sendt: 14. april 2020 13:37
Til: ffMathy/FluffySpoon.JavaScript.Testing.Faking<mailto:FluffySpoon.JavaScript.Testing.Faking@noreply.github.com>

[2020-04-15 19:08] notanengineercom commented on #100
resolved

[2020-04-15 19:08] #100 closed

[2020-04-16 14:30] elAndyG opened #101 "Overloaded function signature with a Promise will not provide .resolves()."
Using the Calculator example as a class, If i were to overload a method that is a promise with a void, it will not provide a resolve() method.
~~
[code]
~~
In the section for "Working with Promises" I can no longer do a `.resolves()`
[code]

Error

Is there an alternative approach to accessing the `.resolves()` or if this would be a feature request?

(Updated request)

[2020-04-17 07:48] notanengineercom commented on #101
Hey! Is the signature of the function `() => Promise<number> | void` or `(a: number, b: number) => Promise<number> | void`? I think as a temporal workaround you could use `.returns(Promise.resolve(123)` while we investigate this 😁

[2020-04-18 02:49] elAndyG commented on #101
Ah, let me update my example. What i'm seeing is when a class has an overloaded operation. Sorry about the poor quality above... it t works well with an interface, just not a class..
[code]

[2020-04-20 11:36] notanengineercom commented on #101
@elAndyG I wasn't able to find an obvious solution for this issue. The distributive nature of the type is somehow not being propagated... I think it disappears when combining union with intersection types... As I said in the first comment, you can solve your issue with `.returns`.

`sub.heavyOperation().returns(Promise.resolve(123))` in the case you want to return the number promise. In the case o

[2020-04-28 10:36] jussimattila opened #105 "Keep targeting ES5"
I updated to latest version (1.133.0) and my build pipeline stopped working. I found the reason is that you recently started targeting ES2016 instead of ES5. Is this intentional? I still need to support ES5 and I wouldn't like to add additional transpilers to my build pipeline just to use the latest version of this library.

https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/commit/c

[2020-04-28 11:00] ffMathy commented on #105
What error are you receiving in your build pipeline?

[2020-04-28 11:02] jussimattila commented on #105
[code]
I know UglifyJs only supports ES5, where `const` is not allowed. But I have tons of packages in the solution and this one is the only one not providing ES5 JavaScript.

[2020-04-28 12:49] jussimattila commented on #105
And if you have good reasons for changing targets, of course you can do that! Testing code should not have an impact on the supported app runtime environments. I came across this issue only because our build pipeline didn't handle es6+ features even for development/testing environments.

[2020-04-28 12:51] ffMathy commented on #105
@jussimattila I think we should run on an as low ES target as possible.

I actually can't seem to see why it was changed. @notanengineercom perhaps you have an idea of this?

A recommendation in general though, is to run your build process inside Docker on the build server. That may serve as a workaround until we fix the issue.

[2020-04-28 12:57] jussimattila commented on #105
The build process runs inside Docker already. Our problem was that JavaScript minification was run also for test code using uglifyjs-webpack-plugin (which has been recently deprecated, I just found out). As mentioned above, UglifyJS supports only ES5 code. Anyways, in our case, disabling minification for test builds was a simple workaround. But I definitely agree that it is better to target as low

[2020-04-28 17:14] notanengineercom commented on #105
I bumped the target as some functions were not available using ES5. https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/pull/91
Also proxies (which are the base of this library) were introduced in ES6, which means all standards before that one can't use proxy. Babel can't transpile it (https://babeljs.io/docs/en/learn#proxies), and it's only partially transpileable by some specific li

[2020-04-28 18:41] jussimattila commented on #105
I already moved to `terser-webpack-plugin` after learning `uglifyjs-webpack-plugin` was deprecated some months ago. I have no reasoning for minifying test code, except that there are so many moving parts in the JavaScript ecosystem. The webpack config we had was working great in local/CI with dev/prod support and I didn't even consider it was minifying test code, since I was able to debug it just

[2020-05-05 22:14] notanengineercom commented on #105
Hey sorry for the delay!
I'm really glad that you could sort the issue out! Thank you for using it, I'm sure I speak for the both of us when I say that I'm glad you love the library 😄
I'm testing locally if everything works as intended using ES6. If it does, I'll lower the target. That's the lowest we can support.
Closing this now!

[2020-05-05 22:14] #105 closed

[2020-05-05 22:15] notanengineercom commented on #101
I'll close this in 2 days if there's no more activity

[2020-05-05 22:30] elAndyG commented on #101
@notanengineercom  I’ll see if I can come up with a solution and submit a PR for it. For now, I created a facade for the piece in question and that keeps the caller unique. Aside from that, I’m very happy with the framework! 👍🏻👍🏻

[2020-05-05 22:30] #101 closed

[2020-05-05 22:32] notanengineercom commented on #101
Awesome, thanks for the support 😄

[2020-05-06 04:00] psxvoid opened #106 "Arg.is predicate type should match specified generic type"
Is there a reason why `Arg.is<MyType>`  is `any` inside the callback? It feels like we are missing a hand from typescript here - it can verify **strongly typed** arguments and give a compile-time error. With `any` argument type typescript is useless and we won't receive a compile-time error, for example on misspelled property.

Here is how type definition looks like right now:
[code]

and here is

[2020-05-06 17:00] notanengineercom commented on #106
No reason at all! I just checked locally, all types and tests still behaving correctly.
I also enhanced the Arg.all() to adapt to the arguments types. Closing this as pr is up.
Thanks for the feedback 😄

[2020-05-06 17:00] #106 closed

[2020-05-13 11:50] notanengineercom opened #111 "Fix typescript 3.9.2 breaking changes"
#110

[2020-05-17 13:45] #111 closed

[2020-05-17 19:21] #97 closed

[2020-09-17 05:38] bachstatter opened #129 "Object destructuring + rest doesn't work"
**Describe the bug**
I cant use a Substitute mock for code that uses object destructuring + rest

**To Reproduce**
[code]
Codesandbox:
https://codesandbox.io/s/flamboyant-sea-o5zf4?file=/src/index.ts:0-469

**Expected behavior**
I should be able to test functions using destructuring with the rest pattern

**Environment**
- Typescript version: `3.9.3 `
- substitute.js version: `1.145.0 `
- Node ver

[2020-09-27 22:37] notanengineercom commented on #129
Thank you for the detailed report!
Can confirm the bug ^^

[2020-09-28 05:38] ffMathy commented on #129
Maybe the proxy object has a method for destructuring that we're missing.

[2020-09-28 06:56] notanengineercom commented on #129
Yes, we need to add a trap to handle the spread assignments!

[2020-10-01 09:00] notanengineercom opened #134 "Add code scanning Github Action"
Github announced free code scanning for public repos: https://github.blog/2020-09-30-code-scanning-is-now-available/
Currently it supports the following languages:

- C/C++
- C#
- Go
- Java
- JavaScript/TypeScript
- Python

We should set it up to try it out

[2020-10-02 20:00] #134 closed

[2020-10-10 10:20] AuHau opened #138 "`JSON.stringify()` does not play well"
**Describe the bug**
When calling `JSON.stringify` on Substitute I will receive `undefined`. While I understand that it is hard to decide what should be returned I would expect at least something and not `undefined`.

I think that the `toJSON()` function could be employed here to define some behavior.

**To Reproduce**
[code]

[2020-10-11 15:34] notanengineercom commented on #138
I was able to reproduce it. Makes sense 👍
Thanks for the report!

[2020-10-14 15:08] AuHau opened #140 "Provide stack traces with "All calls received to method...""
**Is your feature request related to a problem? Please describe.**

When you assert the number of calls for some method in complex code and the assertions fail it might be hard from which part of the code these calls come.

**Describe the solution you'd like**

Store the stack traces for each call and upon failure of the assertion display them together with "-> call with arguments ..." messages.

[2020-11-30 07:15] #57 closed

[2020-11-30 07:58] ffMathy commented on #57
I guess you figured it out?

[2020-12-08 01:00] pheintzelman commented on #46
I'm a bit late to this conversation. This is also something I would like to see also. In other mocking libraries I have used they solved this by having having Substitute.for<Calculator>() return a handle, something like const calculator = Substitute.for<Calculator>() => {add:{returns...}..., mock} where mock is what it is returning now.

Passing calculator.mock into the dependency injection is not

[2020-12-08 23:16] notanengineercom commented on #46
I'm sorry to disagree on that sentence. I think one of the main principles of this library is both being able to setup and use the mock object as the dependency to be injected. But we are well aware of the limitations the current design enforces. Nonetheless, I think your comment brought in a new (and maybe better) idea to solve the mock reassignment problem. More info will follow soon.

[2021-01-13 20:54] SergiiVolodkoWorking opened #165 "Default value (object of type Proxy) can give false positives when testing validations"
Hi,
Thanks for an amazing lib! It definitely makes work with JavaScript more human-friendly! :)
I've bumped into a small difference with NSubstitute behaviour and wondering if maybe I just can't find a proper syntax to turn on or off a setting to make things work similarly to what I used to C#:)

So what I'm trying to achieve.
I have an interface
[code]

And this kind of usage of the interface in

[2021-01-15 22:11] notanengineercom commented on #165
Hi @SergiiVolodkoWorking
Thanks for the detailed issue report!
Due to javascript limitations, you need to setup the mock to return false (to make your example work).
If we threw everytime a function or property of a mock is called, we wouldn't be able to record that execution -> no assertions possible (received, didNotReceive, ...).
And we need to return a proxy in order to handle the mock functio

[2021-02-18 00:33] dereklin opened #174 "How do I get a reference to the argument passed in?"
My code:
[code]

My test:

[code]
But how do I get a reference to the argument passed in?

I want to do something like:

[code]

[2021-02-24 13:52] vincentvanderweele opened #178 "Cannot mock callable interface"
**Describe the bug**
Some third-party libraries (typically js-native with ts types added later) provide callable interfaces. It seems that methods on those callable interfaces cannot be mocked with this library (or I haven't figured out how).

**To Reproduce**
[code]

**Expected behavior**
I would like to be able `subMethod` in some way. I'm okay with a workaround but not sure what that should be.

[2021-03-04 18:26] hmvien opened #179 "Auto-verify mocks argument"
**Is your feature request related to a problem? Please describe.**
It has become really cumbersome to define the mocks and then verify it later with `received()`. It would be nice for this check to happen while the test function is executing. Please take a look at the example from the README

[code]

If you replace the first call to `add()` with `calculator.add(2, 2).returns(3);`, the test will st

[2021-05-02 01:06] alexgoldstone opened #193 "Dynamic return value based on Object args"
I am looking for a method to mock functions that accept objects as parameters such that I can return a different response depending on specific object values.

My use-case is writing tests for API endpoints and mocking the framework's database query function.

For API endpoints that make only a single database request I can mock the return value for **any** parameters.

For API endpoints that make

[2021-06-25 20:04] powersjcb commented on #165
It sounds like the fundamental issue is that this library doesn't care if an invocation was setup.

I would expect the following to throw an error because no matchers are satisfied.
[code]

[2021-07-08 00:48] dereklin opened #216 "How to mock a getter function?"
I have code like this:

[code]

How do I mock `myProperty`?

[2021-07-08 03:14] dereklin commented on #216
i mistakenly mocked it twice.  It works as expected.

[2021-07-08 03:14] #216 closed

[2021-09-12 19:27] notanengineercom commented on #174
Wrong library 😄

[2021-09-12 19:27] #174 closed

[2021-09-12 19:47] notanengineercom commented on #193
Hi!
You could use the `mimicks` function instead of `returns` to get the callee arguments.
[code]

If this isn't a solution for you, just reopen the issue and ping us 😄

[2021-09-12 19:47] #193 closed

[2021-09-12 21:00] notanengineercom commented on #179
Similar to https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/issues/165
Due to how js works, if we applied `Instead of returning a Proxy object with parameter mismatch, an error should be thrown`, setting a return value for `calculator.add(1, 2)` would throw said exception

[2021-09-12 21:14] notanengineercom commented on #165
The only workaround I can think of, is implementing a custom [Symbol.toPrimitive](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/toPrimitive) function.
That should cast the proxy into `0`, `''` or `null`(or `undefined`?).
What do you think @ffMathy ?

[2021-09-13 05:25] ffMathy commented on #165
Hmm not sure what you mean here. Can you elaborate? 😅🙏

[2021-09-13 17:39] notanengineercom commented on #165
Hmm I think it was late last night and I was sleepy 😪
I somehow missed that .toPrimitive only works for some of the unary operators

[2021-10-03 21:38] notanengineercom opened #234 "Update documentation"
- Add new features to existing documentation
- Move to mkdocs (or similar) ?

[2021-12-23 12:45] vincentvanderweele commented on #44
Unrelated to this issue but a note to future readers arriving here by Googling "there is no mock for property" (for which this is the only hit):

does not mean that there is something wrong with your mock. It means that _the mock has not been called_, so there is most likely something wrong with your code under test.

[2022-03-09 09:29] narenchoudhary opened #237 "latest NPM release is 10 months old"
Thanks for this amazing package!

I see [v1.208.0 (10 months old) is still the latest available version on npm](https://www.npmjs.com/package/@fluffy-spoon/substitute?activeTab=versions), but the package has had lots of new merges since then.

As I needed `SubstituteOf<T>.clearSubstitute` had to use `2.0.0-beta.0` version (4 months old).

I can also install directly from GitHub, but installing fro

[2022-03-10 19:42] notanengineercom commented on #237
👋 Hi!
Thanks for your interest. It's hard to maintain the lib on our free time, so we try to work on it whenever possible.
Regarding installing the beta version, you can install it via npm as [described here](https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/releases/tag/v2.0.0-beta.0).
[code]

[2022-03-10 19:42] #237 closed

[2022-09-27 11:01] Cafe137 opened #241 "Substitute.d.ts(6,35): error TS2344: Type 'T' does not satisfy the constraint 'Object'"
**Describe the bug**

I am on version `1.208.0` using Typescript `4.8.3` and running `tsc` gives the following type error:

[code]

node_modules/@fluffy-spoon/substitute/dist/src/Substitute.d.ts Line 6:

<img width="852" alt="image" src="https://user-images.githubusercontent.com/77121044/192508660-11a2bf79-71db-4609-9166-a79f1cb03136.png">

[2022-10-02 10:08] notanengineercom commented on #241
👋 Hi!
Could you try installing the beta release, and check if that issue persists?
You can install it via npm as [described here](https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/releases/tag/v2.0.0-beta.0).
[code]

[2022-10-03 09:25] AuHau commented on #241
Hey 👋

Yes, the issue is present in the `substitute@beta.1` see the issues:

[code]

The first issue solves my PR #242 (I have tested that locally), but the second issue about the `disableFor()` I am not sure how to really solve.

I would suggest you to bump to TS 3.8 and test it yourself ;-)

[2022-10-03 11:03] notanengineercom commented on #241
Hmm ok, I see where the confusion comes from. This issue mentions typescript `4.8.3`, but your PR targets version `3.8`.
I see this as two separate issues:
- For this ticket, typescript `4.8` works with the beta release -> Solved?
- For your issue, it's a different story -> It's an issue with typescript 3.8 and the beta release

I will leave this issue open for a few days, but to me it seems this

[2022-10-03 11:24] AuHau commented on #241
Oh fuck, sorry my bad 🙈 I am targeting TS `4.8` (pretty much the latest), not sure how I mixed it up for `3.8`. I will fix it in the PR title.

[2022-10-09 13:19] notanengineercom commented on #241
Hi @Cafe137 and @AuHau, could you try with the latest beta relase? https://www.npmjs.com/package/@fluffy-spoon/substitute/v/2.0.0-beta.2
I think the issue you were facing was caused because the library wasn't able to transpile in typescript strict mode. Now it does

[2022-10-13 18:29] #87 closed

[2022-10-13 18:30] notanengineercom commented on #241
I think this issue should have been fixed here https://github.com/ffMathy/FluffySpoon.JavaScript.Testing.Faking/pull/244
Please reopen in case the problems persist

[2022-10-13 18:30] #241 closed